@charset "utf-8";
/* CSS Document */


#container {
	margin:150px auto 0 auto;
	width:400px;
	text-align:left;
}

#menubar{
	
	position:relative;
	font-size:12px;
}
#menubar ul.menus{
	width:120px;
}
#menubar ul.menus li {
	float:left; 
	list-style:none;  
	margin-right:1px; 
}

#menubar ul.menus li a {
	padding:5px 10px; 
	display:block;
	color:#FFF; 
	background:#67ACE5; 
	text-decoration:none; 
}

#menubar ul.menus ul {
	position:absolute;
}

#menubar ul.menus li.current-cat a {
	background:#5495CD; 
}

#menubar ul.menus li a:hover {
	background:#4281B7; 
}

#menubar ul.children {
	display:none; 
	padding:0;
	margin:0;
}

#menubar ul.children li {
	float:none; 
	margin:0;
	padding:0;
}

#menubar ul.children li a {
	width:100px; 
}
/***************************/
.m_input
{
	width:100px;
}